<div class="row">

<div>
  <p class="alert alert-danger" ng-show="(submitted && !filteredTweets.length)">That user doesn't exist. Please enter a valid username !!</p>
</div>

<div class="spacer"></div>

<div class="col-md-4 ">


<div class="panel panel-default" ng-show="(filteredTweets.length > 0)">
  <div class="panel-heading user-name">{{vm.userInfo.name}}</div>

   <div class="panel-body">
      <img class="img-responsive" src={{vm.userInfo.image}} alt="">
      <div class="meta-data">
           <div class="follows-count">Followers Count: <strong class="count">{{vm.userInfo.follows}}</strong></div>
           <div class="friends-count">Friends Count  : <strong class="count">{{vm.userInfo.friends}}</strong></div>
      </div>
   </div>
</div>


    </div>


<div class="col-md-8">
<form class="form-inline">

  <div class="form-group">
    <label for="twitterUsername">Username</label>
    <input ng-model="vm.username" type="text" class="form-control" placeholder="  Search tweets ...">
  </div>
  <button ng-click="vm.getTweets(vm.username); submitted=true" type="submit" class="btn btn-default">Search</button>

</form>




<!--ALL Tweets -->
<div ng-repeat="tweet in filteredTweets=(vm.tweets | orderBy:'created_at':true); " id="tweets">




    <div class="tweet">
      <p class="content">{{tweet.text}}</p>
      <p class="date">{{tweet.created_at | timeAgo}}</p>

  <i title="Up Votes" ng-click="vm.upVote(tweet)" class="fa fa-arrow-circle-up fa-1x" ></i>
  <i title="Down Votes" ng-click="vm.downVote(tweet)" class="fa fa-arrow-circle-down fa-1x" ></i>
   Vote: {{tweet.vote || 0}}


    </div>


</div><!--tweets-->
</div><!-- col -->




</div><!-- row -->










