/*
 *= require_self
 */
 * {
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
 }

 body {
    background-image: url("../images/back-img.jpg");
   font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
 }

.form-inline {
    text-align: right;
}
#tweets {
    margin-top: 40px;
    background: white;
}
#tweets .tweet {
    padding: 23px 10px;
    position:relative;
    border-bottom: 1px #ddd solid;
}
.tweet .date{
    position: absolute;
    right:40px
}
img.img-responsive {
    max-width: 150px;
}
.meta-data {
    margin-top: 15px;
}

.spacer {
    padding:20px;
}


.panel.panel-default .panel-heading {
    background: white;
}

.follows-count span, .friends-count span {
    font-style: bold;
    font-size: 1em;
}
